.cart{
    background-color: gray;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ulCart{
        background-color: gray;
        display: flex;
        list-style: none;
        padding: 1.25rem;
        .liCart{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 15.625rem;
            background-color: white;
            padding: 1.25rem;
            margin: 1.25rem;
            align-items: center;
            background-color: rgb(190, 190, 190);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1rem;
            img{
                margin-bottom: .625rem;
            }
            .buttonDelete{
                margin-top: 1.25rem;
            }
        }
       
    }
}
.emptyCart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    a{
        button{
            background-color: black;
            color: white;
        }
    }
}