.detailItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
}
.buttonCartAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.375rem;
}
.contItemDetail{
    width: 80%;
}
.saleFinish{
    background-color:darkorange;
    width: 12.5rem;
    height: 5rem;
}
.infoDetail{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    padding-left: 100px;
}