.detailItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    margin-top:2.5rem;
}


.saleFinish{
    background-color:rgb(88, 13, 228);
    width: 12.5rem;
    height: 2.5rem;
    margin: .625rem;
    font-size: 1.25rem;
    color: white;
    border-radius: .625rem;
    
    
}

.li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}
.titleDetail{
    text-align: center;
    font-size: 2.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.contItemDetail{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.countItem{
    flex-direction: row;
}
.sectionCount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.containerCarrusel{
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:768px){
    .detailItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        margin-top:1.25rem;
        width: 100%;
    }
    .countItem{
        flex-direction: row;
    }
    .sectionCount{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sale{
        margin: 0;
        margin-top: 1.25rem;
    }
    .infoDetail{
        padding: 0;
        padding-top: 1.25rem;
        align-items: center;
    }
    .buttonFinish{
        display: flex;
        flex-direction: column;
    }
    .titleDetail{
        padding: 1.25rem;
        font-size: 1.25rem;
    }
    
}