.detailContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    
    flex-direction: column;
    background-image: url("/public/img/2835.png");
    padding-top: 2.5rem;
    color: white;
}
.imgDetail{
    width: 30%;
    
}
.infoDetail{
    
}
