.detailContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    padding-top: 2.5rem;
    color: rgb(0, 0, 0);
}
.imgDetail{
    width: 60%;
    border: .125rem solid ;
    border-color: black;
    border-radius: .5rem;

    
}
