.detailContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/public/img/2835.png");
    padding: .3125rem;
    color: white;
}
.imgDetail{
    width: 30%;
    
}

