.itemListCont{
    background-color: rgb(201, 201, 201);
    width: 80%;
    height: 100vh;
    
}
.divItem{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}