.itemListCont{
    background-color: rgb(238, 238, 238);
    width: 80%;
    height: 100%;
    
}
.divItem{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}