.item{
    display: flex;
    flex-direction: column;
    width: 13.125rem;
    height: 18.75rem;
    margin-top:.9375rem;
    transition: 0.3s;
    
}
.item:hover{
    box-shadow: .3125rem .3125rem .3125rem .3125rem rgb(155, 155, 155);
    scale: 1.01;
}
h2{
    font-size: 1.25rem;
    align-items: center;
    text-align: center;
    
}
.costProduct{
    text-align: center;
}
.link{
    display: flex;
    height: 3.75rem;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

.link:hover{
    font-size: 1.125rem;
}

@media (max-width:768px){

    .item{
        width: 9.375rem;
        height: 15.625rem;
    }
    
}