.contentForm{
    height: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(5,7,12, 0.75),rgba(5,7,12, 0.75)),
    url("../img/imgForm.webp");
   
    
}
.buttonConfirm{
    width: 13.0625rem;
    margin-top: 1.25rem;

}
.orderParrapf{
    font-style: italic;
    font-weight: bold;
}
.titleResume{
    padding: 1.25rem;
    font-size: 2rem;
}
.buttonInicio{
    background-color: black;
    color: white;
    margin-top: .9375rem;
    border-radius: .625rem;
    width: 80%;
}
.form{
    display: flex;
    height: 25rem;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 2.5rem;
    padding: 1.25rem;
    border-radius: .3125rem;
    background-color: rgb(202, 202, 202);
    background: linear-gradient(rgba(5,7,12, 0.75),rgba(5,7,12, 0.75));
    color: white;
}
.inputForm{
    background: linear-gradient(rgba(5,7,12, 0.75),rgba(5,7,12, 0.3));
    
}
.labelForm{
    color: white;
   
}
.cardResume{
    background-color:rgba(140, 245, 100,0.5);
}
.cardContainer{
    padding-top: 1.25rem;
}