.div{
    .navBar{
        background-color: rgba(124, 124, 124, 0.863);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        h1{
            display: none;
        }
        a{
            .imgLogo{
                width: 7.5rem;
                height: 7.5rem;
                margin-left: 2.1875rem;
            }
        }
        .listNav{
            display: flex;
            margin: 1.25rem;
            width: 100%;
            justify-content: end;
            flex-direction: row;
            align-items: center;
            ul{
                display: flex;
                gap: 1.25rem;
                list-style: none;
                padding: 1.25rem;
                a{
                    text-decoration: none;
                    color: azure;
                    font-size: 1.5rem;
                    transition: 0.8s;
                }
                a:hover{
                    color: red;
                    filter: blur(.0525rem);
                }
            }
            .cartLogo{
                display: flex;
                padding-right: 1.875rem;
                 text-decoration: none;
                img{
                    width: 3.125rem;
                    height: 3.125rem;
                }
                p{
                    color: rgb(3, 3, 3);
                    font-size: 1.125rem;
                    margin: 0;    
                }
            }
        }
    }
}