.div{ 
    height: 100vh;
    .navBar{
        background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(118, 136, 180, 0.397));
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .imgLogo{
            width: 6.25rem;
            height: 6.25rem;
            margin: 1.25rem;
            border-radius: 50%;
        }
        .imgLogo768{
            display: none;
        }
        .cartLogo{
        
            img{
                width: 1.875rem;
                height: 1.875rem;
            }
            p{
                color: white;
            }
            
        } 
    }
}

@media  (max-width:768px){
    .div{
        display: flex;
        flex-direction: column;
        .navBar{
        background-color: red;
        
        .imgLogo{
            display: none;
            margin: .3125rem;
        } 
        .imgLogo768{
            display: block;
            width: 6.25rem;
            height: 6.25rem;
        }
        
        }
        
            .cartLogo{
                position: fixed;
                width: 2.5rem;
                display:flex;
                padding: .3125rem 1.25rem 0 0;
                right: 0;
            }
        
            
        
    }
    
    
}