@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inknut+Antiqua&family=Inter:wght@300&family=Tinos:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Cinzel+Decorative&family=Kalnia:wght@200&display=swap');

/* font-family: 'Kalnia', serif; */

html,body{
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}