.countItem{
    display: flex;
    gap: .625rem;
    align-items: center;
    margin-top: 1.25rem;
    justify-content: center;
    
}
    
.sale{
    background-color: rgb(125, 86, 233);
    border-radius: .3125rem;
    width: 12.5rem;   
    margin-left: 3.75rem; 
    font-size: 1.25rem;
    
}

.countButton{
    
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .625rem;
    color: red;
    background-color:yellow;
    
    
    
}
.numberProduct{
    text-align: center;
    width: 2.5rem;
    height: 1.25rem;
    background-color: rgb(48, 30, 209);
    color: white;
    border-radius: .3125rem;
    
}

